body {
  background-image: linear-gradient(to right, black, #2015A0);
}

#root {
  align-content:center;
  margin: auto 0;
}

#auth--form {
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 20pt;
  width: 480px;
  padding: 60px 0;
  margin: auto;
}

#auth--form > h1 {
  margin-top: 0;
}

#auth--form > input,button {
  border-radius: 20pt;
  padding: 6px;
  margin: 10px;

  text-align: center;
  font-size: 14pt;
  color: black;
}

#auth--form > input {
  background: white;
  width: 60%;
  margin: 10px auto;
}

.submit {
  background: #8AE165;
  width: 55%;
  margin: 10px auto;
}

p {
  margin-bottom: 10px;
  font-size: 13px;
}

.switch {
  background: #8A9FFF;
  width: 30%;
  margin: 0px auto;
}

/* Mobile interface */
@media (max-width: 620px) {
  html,body,#auth--panel {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  #auth--form {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    justify-content: center;
  }
}
