html, body, #root {
  overflow:hidden;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  height: 100dvh;
}

body {
  background: #1a1a2b;
}

#root {
  width: 100%;
}

#pane {
  background: #222237;
  width: 80%;
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Messages. */
#messages {
  background: #2a2b45;
  flex: 1;
  justify-content: flex-end;
  overflow-y: auto;
}

#messages--empty {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.agent, .user {
  max-width: 65%;
}
.agent {
  margin: 16px auto 16px 16px;
}
.user {
  margin: 16px 16px 16px auto;
}
.agent>p {
  text-align: left;
}
.user>p {
  text-align: right;
  margin-left: auto;
}

.message--time {
  user-select: none;
  font-size: 11pt;
  color: #b0b0b0;
  margin: 0 10px;
}
.message--content,.message--status {
  background-color: #201F42;
  font-size: 16pt;
  font-weight: 500;
  padding: 8px;
  border-radius: 14px;
  width: fit-content;
  margin: 0;
}
.message--content {
  max-width: 100%;
}
.agent>.message--content,.message--status {
  background-color: #3c3d5a;
}
.agent>.message--content {
  color: lightgray;
}
.message--status {
  color: darkgray;
}
.user>.message--content {
  background-color: #3399ff;
  color: black;
}

/* Images. */
#inputimage {
  display: flex;
  flex-direction: row;
  padding: 0px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
img {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 9px;
}
#inputimage>img{
  height: 100px;
  margin: 10px;
}
.loadingimg {
  height: 100px;
  width: 100px;
  background-color: #505050;
}
#input--file {
  display: none;
}

@media (max-width: 620px) {
  #pane {
    width: 100%;
  }
}
