html, body, #root {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a2b;
}

#root {
  width: 100%;
}

#pane {
  background: #2a2b45;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Messages. */
#messages {
  flex: 1;
  justify-content: flex-end;
  overflow-y: auto;
}

#messages--empty {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.agent, .user {
  max-width: 65%;
}
.agent {
  margin: 16px auto 16px 16px;
}
.user {
  margin: 16px 16px 16px auto;
}
.agent>p {
  text-align: left;
}
.user>p {
  text-align: right;
  margin-left: auto;
}

.message--time {
  user-select: none;
  font-size: 11pt;
  color: #b0b0b0;
  margin: 0 10px;
}
.message--content {
  background-color: #201F42;
  font-size: 16pt;
  font-weight: 500;
  padding: 8px;
  border-radius: 14px;
  width: fit-content;
  margin: 0;
}
.agent>.message--content {
  background-color: #3c3d5a;
  color: lightgray;
}
.user>.message--content {
  background-color: #3399ff;
  color: black;
}

/* Images. */
.images {
  display: flex;
  flex-direction: row;
  padding: 0px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.image--loading,.image {
  height: 100px;
  margin: 0 10px;
}

.image--loading {
  width: 100px;
  background-color: #505050;
}
.image {
  width: auto;
}

#input--file {
  display: none;
}


/* Inputs. */
/*#input {
  display: flex;
  flex-direction: row;
  padding: 10px 10%;
}
#input>*{
  margin: 0 10px;
  padding: 10px;
  font-size: 14pt;
}
#input--text {
  flex: 1;
  background-color: #242366;
  border: 1px solid #3432c8;
  resize: vertical;
  border-radius: 12px 12px 0px;
}
#input--text:focus {
  outline: 2px dashed #d9d9f2;
}
#input--submit {
  font-size: 20px;
}
#input--add {
  font-size: 20px;
}
#input--submit,#input--add {
  border-radius: 20px;
  background-color: #3432c8;
  padding: 10px 15px;
}
#input--submit:disabled {
  background-color: #1D1D2E;
}*/

